@import "tailwindcss";

@theme {
  /* COLOR */
  --color-dist-0: hsl(20, 50%, 6%);
  --color-dist-1: hsl(20, 10%, 75%);
  --color-dist-2: hsl(0, 0%, 100%);

  --color-dist-0-foreground: var(--color-dist-1);
  --color-dist-1-foreground: var(--color-dist-0);
  --color-dist-2-foreground: var(--color-dist-0);

  /* FONT */
  --font-dist: Sen, Raleway, Encode Sans, system-ui;

  /* SPACING */
  --padding-dist-0: 1.5rem;
  --padding-dist-1: 0.7rem;
  --padding-dist-2: 0.5rem;
}
